.footer {
  background-color: #384a62;

  &-container {
    max-width: 125rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &-col__1 {
    background-color: red;
  }

  &-col__2 {
    background-color: red;
  }

  &-col__3 {
    background-color: red;
  }

  &-col__4 {
    background-color: red;
  }

  &-copyright {
    background-color: #cbcac8;
    text-align: center;
  }
}
